*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: white; /* white, #FFFFFF */
	padding: 2em;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

p {
	margin: 0 0 1em 0;
	/*max-width: 30em;*/
	font-weight: 400;
	font-size: 20px;
}

h1 {
	margin: 0;
	font-size: 3em;
	font-weight: 900;
	
}

h4 {
	margin: 0;
	font-weight: 900;
}

header,
section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
	margin-bottom: 2em;
	padding-top: 0.25em;
}



.s2 {
	grid-column: span 2;
}

.s4 {
	grid-column: span 4;
}

.s3 {
	grid-column: span 3;
}

.titolo-sezione {
	margin-right: 1em;
}


.contenitore {
	/*max-width: 54em;*/
}

/* -- breakpoint: schermi piccoli, larghezza massima 500 pixel -- */

@media only screen and (max-width: 600px) {

	header,
	section {
		grid-template-columns: 1fr;
	}

	.contenitore {
		width:100%;
	}
	.contenuto-sezione {
		width: 100%;
	}
	.titolo-sezione {
		width: 100%;
	}
}